.budget-items-section {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-content: center;
}
.budget-items-container {
  display: flex;
  max-width: 680px;
  height: 100%;
  width: 100%;
}

.income-column,
.expenses-column {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-basis: 0; /* columns will be the same size, regardless of content  */
  flex-grow: 1; /* columns will take up all available space */
}

h1 {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.income-column {
  margin-right: 35px;
}

.income-column h1 {
  color: green;
}

.expenses-column h1 {
  color: red;
}
.budget-items {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
}